@use postcss-autoreset;

.user-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.empty {
  text-align: center;
  font: 18px/1.4 'Open Sans', sans-serif;
  padding: 10px;
}

.waypoint {
  display: block;
}
