@use postcss-autoreset;
@use postcss-utilities;

.loader {
  display: none;
}

.active {
  composes: loader;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.circle {
  @util size(10px);

  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
  animation-name: bounce_circle;
  animation-duration: 1.12s;
  animation-iteration-count: infinite;
  animation-direction: normal;

  &:first-child {
    margin-left: 0;
  }
}

.circle-1 {
  composes: circle;
  animation-delay: 0.225s;
}

.circle-2 {
  composes: circle;
  animation-delay: 0.525s;
}

.circle-3 {
  composes: circle;
  animation-delay: 0.675s;
}

@keyframes bounce_circle {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #7a7a7a;
  }

  100% {
    background-color: transparent;
  }
}
