@use postcss-autoreset;
@use postcss-utilities;
@use postcss-inline-svg;

.input {
  font: 14px/1 'Open Sans', sans-serif;
  color: #333;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 8px 40px;
  border: solid 1px #e3e3e3;
  transition: box-shadow 0.3s ease-out, border 0.3s ease-out;

  &:focus {
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.75);
    border: 1px solid #66afe9;
  }
}

.input-wrap {
  position: relative;
  display: block;
  margin-bottom: 40px;

  &::before {
    @util position(absolute, 0 null 0 0);

    content: '';
    width: 40px;
    background: svg-load('svg/magnifying-glass.svg') center no-repeat;
    background-size: 15px;
  }
}

.loading {
  composes: input-wrap;

  &::after {
    @util position(absolute, 50% 10px null null);
    @util size(20px);

    content: '';
    border: 1px solid #333;
    border-radius: 50%;
    margin-top: -11px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
  }
}

@keyframes cssload-spin {
  100% { transform: rotate(360deg); }
}
