@use postcss-autoreset;
@use postcss-utilities;

.user-item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-top: solid 1px #e3e3e3;

  &:first-child {
    border-top: 0;
  }
}

.avatar {
  @util size(50px);

  border-radius: 50%;
  border: 2px solid #c3c3c3;
}

.info {
  padding-left: 15px;
}

.name {
  font: 16px/1 'Open Sans', sans-serif;
}
